h1 {
	color: palevioletred;
}

button.a {
	color: white;
}

.main-div {
	background-color: white;
	color: black;
	text-align: center;
}

.container-fluid.first {
	background-color: blueviolet;
	color: white;
	text-align: center;
}


.container-fluid.second {
	background-color: #FF0000;
}

.container-fluid.third {
	background-color: yellow;
}

.bottom
{
	background-color: orange;
}

.container-fluid.fourth {
	background-color: seagreen;
}

.fifth {
	background-color: deeppink;
}

